
@media only screen and (max-width:600px){

	
	body{
	width: 100%;
}
	#contrner{
	width: 100%;
	background-color: white;
	}
	
	header{
	
	width: 100%;
height: 10%;


}
	#search{
		max-width: 100%;
		height: auto;
	}
	
	
div #logo{
	direction: rtl;
}

#logo img{
	width: 70%;
}

#list{
	height: 200%;
	background-color: gray;
}

header  nav  ul li{
	width: 100%;
	text-align: center;
	height: 12.5%;
	border-left: none;
}

header  nav  ul li div:first-child{
	background-image: url('images/menu_home.png');
width: 34px;
    height: 15px;
   
    background-position: -16px;
    background-repeat: no-repeat;
}




#second{
	margin-top: 45%;
    width: 100%;
    height: 155%;
}

.samllcontener{
	width: 94%;
	
    
}


#backimage{
	background-image: url('images/1908364606615453350.JPG');
	background-repeat:no-repeat;
margin: 0 auto;
  
}

#backimage2{
		background-image: url('images/Picture-046410251500.jpg');
		background-repeat:no-repeat;
	margin: 0 auto;
}

#backimage3{
		background-image: url('images/פזקר_-291_354410564000.jpg'); 
		background-repeat:no-repeat;
	margin: 0 auto;
}

#backct{
	background-image: url('images/hp_tab_text_bg.png');

   
}

img{
	max-width: 100%;
	height: auto;
}

.s3{
	width: 100%;
	height: 100%;

}

.backim{
	background-image: url('images/small_cube_bg.png');
background-repeat:no-repeat;
	margin: 0 auto;
float: none;
}


footer{
	float: right;
    height: 40%;
}


  footer nav ul li{
	text-align:center;
	border-left: none;
	width: 100%;
	height: 7%;
   border-bottom-style: solid;
   
}  

footer nav ul li:last-child{
	border-bottom-style: none;
}

#backfotter{
	display: none;
}