#contrner{
	width: 900px;
	background-color: white;
	margin:auto;
}

#backup{
	height: 100px;
	background-color: gray;
	width: 100%;
}

/*header*/

header{
	height: 100px;
	background-color: gray;
	width: 100%;
float: none;
    margin-top: -100px;


}




#search{
	
	padding-top: 7px;
    margin-left: 19px;
    height: 19px;
    
}

#search input{
	height: 18px;
}
#search img{
	float: left;
}

#logo{
	float: right;
	
	}

#list{
	float: right;
	list-style-type: none;
}

header  nav  ul li{
	float: right;
	margin-left: 32px;
	text-align: center;
	
}
header nav ul li a{
	text-decoration: none;
	color: white;
}

header  nav  ul{
	padding-top: 34px;
}

/*part tow*/

#second{
	margin-top: 25px;
}



.samllcontener{
	width: 33.3333%;
	height: 386px;
    float: right;
}

#backimage{
	background-image: url('images/1908364606615453350.JPG');
height: 354px;
    width: 291px;


}

#backimage2{
	background-image: url('images/Picture-046410251500.jpg');
height: 354px;
    width: 291px;
}
 
#backimage3{
	background-image: url('images/פזקר_-291_354410564000.jpg'); 
height: 354px;
    width: 291px;
}

#backct{
	background-image: url('images/hp_tab_text_bg.png');
height: 97px;
    width: 248px;
    float: right;
    direction: rtl;
    margin-top: 248px;
    margin-right: 12px;
    color: white;
}
.tt{
	font-size: 16px;
    margin: 7px;
}
.pp{
	float: right;
    margin-top: -23px;
    margin-right: 8px;
    font-size: 14px;
}
#ts{
	    float: left;
    margin-top: -24px;
    text-decoration: underline;
    margin-left: 7px
}

#ts img{
	margin-right: 3px;
}
